<launch>

  <!-- other args -->
  <arg name="debug" default="false" />
  <arg name="n_threads" default="8" />
  <arg name="nodelet_manager_name" default="unreal_nodelet_manager" />

  <arg     if="$(arg debug)" name="launch_prefix" value="debug_roslaunch" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />

  <!-- Nodelet manager -->
  <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager_name)" args="manager" output="screen" launch-prefix="$(arg launch_prefix)">
    <param name="num_worker_threads" value="$(arg n_threads)" />
  </node>

</launch>
