<launch>

  <arg name="UAV_NAME" default="$(optenv UAV_NAME uav1)" />
  <arg name="REAL_UAV_NAME" default="$(optenv REAL_UAV_NAME uav34)" />

  <!-- what config we are going to run (should match folder name) -->
  <arg name="config"      default="unreal_simulation" /> <!-- euroc_mav, tum_vi, rpng_aruco -->
  <arg name="config_path" default="$(find mrs_open_vins_core)/config/$(arg config)/estimator_config.yaml" />

  <group ns="$(arg UAV_NAME)">

    <!-- MASTER NODE! -->
    <node name="ov_msckf" pkg="ov_msckf" type="run_subscribe_msckf" output="screen" clear_params="true" required="true">

      <!-- master configuration object -->
      <param name="config_path"            type="string" value="$(arg config_path)" />

      <!-- topics -->
      <param name="topic_imu"      type="string" value="/$(arg REAL_UAV_NAME)/hw_api/imu" />
      <param name="topic_camera0"  type="string" value="/$(arg UAV_NAME)/rgb/image_raw" />

    </node>

  </group>

</launch>
