<launch>

  <arg name="debug" default="false" />
  <arg name="standalone" default="false" />
  <arg name="bond" default="$(optenv BOND true)" />
  <arg name="nodelet_manager_name" default="unreal_nodelet_manager" />
  <arg name="use_sim_time" default="true" />
  <arg name="custom_config" default="" />
  <arg name="n_threads" default="8" />

  <arg     if="$(arg bond)" name="bond_suffix" value="" />
  <arg unless="$(arg bond)" name="bond_suffix" value="--no-bond" />

  <arg     if="$(eval arg('standalone') or arg('debug'))" name="nodelet" value="standalone" />
  <arg unless="$(eval arg('standalone') or arg('debug'))" name="nodelet" value="load" />
  <arg     if="$(eval arg('standalone') or arg('debug'))" name="nodelet_manager" value="" />
  <arg unless="$(eval arg('standalone') or arg('debug'))" name="nodelet_manager" value="$(arg nodelet_manager_name)" />

  <arg     if="$(arg debug)" name="launch_prefix" value="debug_roslaunch" />
  <arg unless="$(eval arg('debug'))" name="launch_prefix" value="" />

  <group if="$(arg use_sim_time)">
    <param name="/use_sim_time" value="true" />
  </group>

  <include file="$(find mrs_uav_unreal_simulation)/launch/nodelet_manager.launch">

    <arg name="nodelet_manager_name" value="$(arg nodelet_manager_name)" />
    <arg name="debug" value="$(arg debug)" />
    <arg name="n_threads" value="$(arg n_threads)" />

  </include>

  <node pkg="nodelet" type="nodelet" name="unreal_simulator" args="$(arg nodelet) mrs_uav_unreal_simulation/UnrealSimulator $(arg nodelet_manager) $(arg bond_suffix)" output="screen" launch-prefix="$(arg launch_prefix)">

    <param name="config" value="$(find mrs_uav_unreal_simulation)/config/unreal_simulator.yaml" />
    <param name="config_uavs" value="$(find mrs_uav_unreal_simulation)/config/uavs.yaml" />

    <rosparam file="$(find mrs_multirotor_simulator)/config/uavs/x500.yaml" />
    <rosparam file="$(find mrs_multirotor_simulator)/config/uavs/t650.yaml" />

    <rosparam file="$(find mrs_multirotor_simulator)/config/controllers/mixer.yaml" />
    <rosparam file="$(find mrs_multirotor_simulator)/config/controllers/rate_controller.yaml" />
    <rosparam file="$(find mrs_multirotor_simulator)/config/controllers/attitude_controller.yaml" />
    <rosparam file="$(find mrs_multirotor_simulator)/config/controllers/velocity_controller.yaml" />
    <rosparam file="$(find mrs_multirotor_simulator)/config/controllers/position_controller.yaml" />

    <param if="$(eval arg('custom_config') == '')" name="custom_config" value="" />
    <param if="$(eval not arg('custom_config') == '' and arg('custom_config')[0] == '/')" name="custom_config" value="$(arg custom_config)" />
    <param if="$(eval not arg('custom_config') == '' and not arg('custom_config')[0] == '/')" name="custom_config" value="$(env PWD)/$(arg custom_config)" />

    <remap from="~diagnostics_out" to="~diagnostics" />
    <remap from="~imu_out" to="~imu" />
    <remap from="~odom_out" to="~odom" />
    <remap from="~clock_out" to="/clock" />
    <remap from="~uav_poses_out" to="~uav_poses" />

    <remap from="~actuator_cmd_in" to="~actuator_cmd" />
    <remap from="~control_group_cmd_in" to="~control_group_cmd" />
    <remap from="~attitude_rate_cmd_in" to="~attitude_rate_cmd" />
    <remap from="~attitude_cmd_in" to="~attitude_cmd" />
    <remap from="~acceleration_cmd_in" to="~acceleration_cmd" />
    <remap from="~velocity_cmd_in" to="~velocity_cmd" />
    <remap from="~position_cmd_in" to="~position_cmd" />

    <remap from="~arm_in" to="~arm" />
    <remap from="~offboard_in" to="~offboard" />
    <remap from="~set_realtime_factor_in" to="~set_realtime_factor" />

  </node>

</launch>
